@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Basic Reset */
/* The Modal (background) */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
}

/* The Close Button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    background-color: #e1e1e1;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 15px;
    font-weight: 550;
}
/* Dark Mode specific styles */
body.dark-mode .download-cv {
    background-color: white; /* White background in dark mode */
    color: #333; /* Darker text color for contrast */
    border: 1px solid #444; /* Optional: add a border for better visibility */
}

body.dark-mode .download-cv:hover {
    background-color: #f2f2f2; /* Slightly darker background on hover */
    /* Other hover effects as needed */
}

/* General dark mode styles */
body.dark-mode {
    background-color: #121212; /* Dark background for the body */
    color: #ffffff; /* Light text color for better readability */
}
/* Header, Nav, and Footer Styling in Dark Mode */
body.dark-mode header,
body.dark-mode nav,
body.dark-mode footer {
    background-color: #1a1a1a; /* Dark background for header, nav, and footer */
    color: #ffffff;
}
/* Dark Mode Styles for Links */
body.dark-mode a {
    color: #4f8cff; /* Lighter color for links for visibility */
}
/* Dark Mode Styles for Buttons */
body.dark-mode .btn {
    background-color: #333333; /* Darker button background */
    color: #ffffff; /* Light text on buttons */
    border: 1px solid #4f8cff; /* Optional: add a light border to buttons */
}
/* Adjustments for Images in Dark Mode */
body.dark-mode img {
    opacity: 0.8; /* Slightly reduce the opacity of images */
}
/* Example: Dark Mode Style for Form Inputs */
body.dark-mode input[type="text"],
body.dark-mode input[type="email"],
body.dark-mode textarea {
    background-color: #262626; /* Dark background for input fields */
    color: #ffffff; /* Light text for input fields */
    border: 1px solid #4f8cff; /* Light border for inputs */
}
#dark-mode-toggle{
    cursor: pointer;
}
.theme-checkbox {
    --toggle-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 5em;
    height: 2em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
}
.theme-checkbox::before {
    content: "";
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    top: 0.1em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
}
.theme-checkbox:checked {
    background-position: 100%;
}
header{
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Align items vertically in the center */
    background: #333;
    color: #fff;
    padding: 0.4rem;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    border-bottom: 4px solid #fff;
    position: fixed;
    top: 0; /* Align the top edge of the header with the top of the viewport */
    left: 0; /* Align the left edge of the header with the left of the viewport */
    width: 100%; /* Ensure the header spans the full width of the viewport */
    z-index: 1000;
    cursor: s-resize;
}
header h1 {
    margin: 0;
    /* Optionally, add styles for the logo or title */
}
nav ul {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust number of items and width as needed */
    gap: 20px; /* Space between grid items */
    list-style: none;
    padding: 0;
    margin: 15px;
    justify-content: center;
}
nav ul li {
    text-align: center; /* Center text in each grid item */
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block; /* Make the entire grid item clickable */
}
nav ul li i {
    margin-right: 8px; /* Add some space between the icon and the text */
    font-size: 14px; /* Adjust the size of the icons */
}
nav ul li a:hover {
    color: #007bff;
}
.download-cv {
    background-color: #007bff; /* Example: blue background */
    color: white; /* White text */
    padding: 0 8px; /* Padding inside the button */
    text-decoration: none; /* Remove underline from the link */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold font */
    /* Add more styling as needed */
}
.download-cv:hover {
    background-color: #000; /* Darker blue on hover */
    /* Add more hover effects if needed */
}
/* Main Content */
main {
    padding: 0;
    /* background: url('img_5.png') no-repeat center center/cover; /* Example background */
}
section {
    scroll-margin-top: 20px;
}
.welcome-image{
    width: 30%;
    border-radius: 50%;
    transition: transform 0.3s ease;
    border: #f9f9f9 4px solid;
    cursor: no-drop;
    animation: 3s ease-out 0s 1 slideInFromTop;
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.welcome-image:hover {
    transform: scale(1.02); /* Slightly enlarges the image on hover */
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text */
    gap: 6px; /* Space between items */
    color: #fff;
    font-weight: 800;
    font-size: 30px;
}


.hero::before {
    content: '';
    position: absolute;
    inset: 0; /* Equivalent to top: 0; right: 0; bottom: 0; left: 0; */
    background: url('img_5.png') no-repeat center center/cover;
    filter: blur(1px); /* Adjust blur strength as needed */
    z-index: -2; /* Ensures the background is behind the content */
}
/* Content of the hero section */
.hero * {
    position: relative;
    z-index: 1; /* Ensures content is above the blurred background */
}
.hero h2, .hero p {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    animation: 4s ease-out 0s 1 slideInFromBottom;

}
/* Keyframes for sliding in from bottom */
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
/*full*/
.full-page-section {
    min-height: 100vh; /* Make each section take up the full viewport height */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    padding: 50px;
    box-sizing: border-box;
}
.btn {
    background: #007bff;
    color: #fff;
    padding: 6px 6px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    animation: 5s ease-out 0s 1 slideInFromBottom;
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
.btn:hover {
    background: #fff;
    color: #000;
}
/*Social media*/
.social-media-icons {
    text-align: center; /* Center the icons */
    margin-top: 20px;
    background-color: #888;
    border-radius: 10px;
 }
.social-media-icons a {
    margin: 0 10px; /* Spacing between icons */
    color: inherit; /* Default color */
    font-size: 30px; /* Icon size */
    transition: transform 0.3s ease, color 0.3s ease;
}
.social-media-icons a:hover {
    transform: scale(1.1); /* Slightly enlarge the icon */
    /* Optionally, you can change the color on hover as well */
}
.social-media-icons .fa-facebook-f { color: #3b5998; } /* Facebook color */
.social-media-icons .fa-linkedin { color: #3b5998; } /* Facebook color */
.social-media-icons .fa-youtube { color: #FF0000; } /* YouTube color */
.social-media-icons .fa-github { color: #333; } /* GitHub color */
.social-media-icons .fa-discord { color: #5865F2; } /* Discord color */
.social-media-icons .fa-tiktok { color: #000000; } /* TikTok color */
/*about*/
#about {
    display: flex;
    flex-direction: column; /* Stack about-top-content and about-bottom-content vertically */
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.about-top-content {
    display: flex;
    flex-direction: row; /* Keep the image and about text side by side */
    align-items: flex-start; /* Align the children items to the start (top) */
    width: 100%;
    padding: 20px;
}
.about-image {
    flex: 1; /* Allows the image to grow */
    max-width: 40%; /* Increase max-width as needed */
    height: auto;
    margin-right: 10px;
    border-radius: 10px;
    animation: 3s ease-out 0s 1 slideInFromLeft;
}
/* Slide in from left */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.about-text {
    flex: 1; /* Allows the text section to grow */
    max-width: 60%; /* Decrease max-width to give more space to the image */
    /* Align the text to the start (top) if needed */
    align-self: flex-start;
    text-align: start;
    padding: 20px;
    font-size: 15px;
    animation: 3s ease-out 0s 1 slideInFromRight;
}

/* Slide in from right */
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
.about-bottom-content {
    width: 100%; /* Full width of the container */
    text-align: center;
    animation: 3s ease-out 0s 1 slideInFromBottom;
}
/* Slide in from bottom */
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
.about-bottom-content h3{
    text-align: center;
    color: #007bff;
    font-size: 20px;
}
#about h2, h3{
    color: #007bff;
}
#about .p{
    color: #007bff;
    font-size: 23px;
}
.language{
    margin: 20px 0;
    border-radius: 10px;
}
.social-media{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
    background-color: #e1e1e1;
}

.social-media a {
    margin: 0 10px; /* Spacing between icons */
    color: inherit; /* Default color */
    font-size: 30px; /* Icon size */
    transition: transform 0.3s ease, color 0.3s ease;
}
.social-media a:hover {
    transform: scale(1.3); /* Slightly enlarge the icon */
    /* Optionally, you can change the color on hover as well */
}
.social-media .fa-facebook-f { color: #3b5998; } /* Facebook color */
.social-media .fa-linkedin { color: #3b5998; } /* Facebook color */
.social-media .fa-youtube { color: #FF0000; } /* YouTube color */
.social-media .fa-github { color: #333; } /* GitHub color */
.social-media .fa-discord { color: #5865F2; } /* Discord color */
.social-media .fa-tiktok { color: #000000; } /* TikTok color */
.info-sections {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.info-card {
    background: #fff;
    padding: 8px;
    width: calc(33.333% - 10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-card h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}
.info-card p {
    opacity: 0.7;
    font-size: 16px;
    color: #666;
    margin-bottom: 25px;
}
.read-more {
    text-decoration: none;
    color: #0066cc;
    transition: color 0.3s ease;
}
.read-more:hover {
    color: #004499;
    transform: scale(1.04);
}

/*service*/
#services {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text for titles and buttons */
}
#services h2{
    font-size: 2rem; /* Large font size for the title */
    margin-bottom: 0; /* Space below the title */
    color: #007bff;
}
.service-filter {
    display: flex;
    justify-content: center; /* Center the filter buttons */
    flex-wrap: wrap; /* Wrap buttons to the next line on small screens */
    margin-bottom: 20px; /* Space below the filter buttons */
    font-size: 2rem;
}
.service-filter button {
    background: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 6px 6px;
    margin: 5px; /* Add some space between buttons */
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.3rem;
}
.service-filter button:hover {
    background: #007bff;
    color: white;
}
.service-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Responsive grid */
    align-items: center;
    gap: 20px; /* Space between service items */
}
.service-item {
    background: #f9f9f9;
    border: 1px solid #e1e1e1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    text-align: center; /* Center text for service items */
}

.service-item p{
    text-align: start;
}
.service-item img {
    width: 180px; /* Set image size */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space below the image */
}
.service-item h3 {
    font-size: 1.4rem; /* Size of the service title */
    margin-bottom: 10px; /* Space below the service title */
}
.service-item p {
    font-size: 0.9rem; /* Size of the service description */
    line-height: 1.6;
    color: #000;
}
/*contact*/
.full-page-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#contact h2 {
    margin-bottom: 0.5rem;
    color: #007bff;
}
#contact p {
    margin-bottom: 1rem;
}
.contact-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}
.contact-methods {
    flex: 1;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
.contact-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contact-icon {
    /* If using actual icons, set your font-size and display properties here */
    display: inline-block;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
.contact-form {
    flex: 1;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
.contact-methods,
.contact-form {
    flex: 1 1 45%; /* Take up roughly half the container width, but allow wrapping */
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    padding: 20px;
    border-radius: 8px; /* Optional: rounded corners for aesthetics */
}
.contact-form h3 {
    text-align: left;
    margin-bottom: 1rem;
}
.contact-form form {
    display: flex;
    flex-direction: column;
}
.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #0056b3;
}
.contact-phone-number {
    font-weight: bold; /* Makes the phone number stand out */
    margin-top: 1rem; /* Adds space above the phone number */
    display: block; /* Ensures it appears on a new line */
}
/* Footer Styles */
footer {
    display: flex;
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.hamburger-menu {
    display: none; /* Initially hidden */
    background: none;
    border: none;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    position: absolute; /* Absolute positioning */
    top: 20px; /* Adjust distance from top */
    right: 30px; /* Adjust distance from left */
    z-index: 1000; /* Ensure it's above other elements */

}
/* Responsive Design */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
        top: 0;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 110%;
        position: absolute;
        top: 0;
        left: -20px;
        background-color: #333;
        padding: 10px;
    }

    nav ul li {
        text-align: center;
        width: 100%;
    }

    nav ul li a {
        padding: 0;

    }
    .hero h2, .hero p {
        text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
        color: #fff;
    }
    nav ul.active {
        display: flex;
    }
    .hero h2 {
        font-size: 2rem; /* Slightly smaller font size */
    }

    .hero p {
        font-size: 1rem;
    }
    .btn{
        padding: 10px;
        font-size: 1rem;
    }
    .contact-container {
        flex-direction: column;
    }

    .about-top-content {
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        max-width: 100%; /* Larger image on smaller screens */
        margin-right: 0; /* Reset the margin between the image and the text */
        margin-bottom: 20px; /* Space below the image */
    }

    .about-text {
        max-width: 100%;
        box-shadow: 0 2px 5px #333;
    }

    .about-bottom-content {
        max-width: 100%;
        padding: 10px;
        box-shadow: 0 2px 5px #333;
    }

    .service-items {
        /* Adjust the grid to have fewer columns on smaller screens */
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-methods,
    .contact-form {
        flex-basis: 100%; /* Each takes full width on smaller screens */
        max-width: 100%; /* Prevents flex-basis from exceeding the container width */
    }

    .contact-method, .contact-form {
        /* Center align the content for smaller screens */
        align-items: center;
        text-align: center;
    }

    footer {
        padding: 20px 10px; /* Increase padding on smaller screens if necessary */
        font-size: 0.9rem; /* You might want to decrease the font size on smaller screens */
    }
    .info-sections {
        flex-direction: column;
        align-items: center;
    }

    .info-card {
        width: 80%; /* Adjust the width for mobile devices */
        margin-bottom: 20px; /* Add space between cards on smaller screens */
    }
    .about-image, .about-text, .info-card, .contact-method, .contact-form {
        width: 100%; /* Full width */
        max-width: none; /* Override any max-width */
    }
    .welcome-image, .welcome-text {
        animation: none;
        transform: translateY(0);
    }
    .about-image, .about-text, .social-media-icons {
        animation: none;
        transform: translateX(0);
    }

}

@media (max-width: 480px) {
    .about-image  {
        max-width: 100%; /* Full width on very small screens */
    }
    .welcome-image{
        width: 50%;
    }
    .service-items {
        /* Stack the items vertically on very small screens */
        grid-template-columns: 1fr;
    }
    .contact-form input,
    .contact-form textarea,
    .contact-form button {
        width: 100%; /* Ensure form elements take up full width */
    }
    .welcome-image {
        /* Adjust image size for mobile */
        width: 80%;
    }

    .about-image, .about-text {
        /* Stack images and text vertically on mobile */
        width: 100%;
        margin: 0 0 1rem;
    }

    .about-text {
        /* Remove large padding around the text block */
        padding: 1rem;
    }
        .social-media-icons a {
            font-size: 13px; /* Even smaller icons on mobile phones */
        }
    .service-items {
        /* Single column layout for service items */
        grid-template-columns: 1fr;
    }

    .info-sections {
        /* Stack info cards vertically */
        flex-direction: column;
        align-items: center;
    }

    .info-card {
        /* Full width for cards with margin for separation */
        width: 100%;
        margin-bottom: 1rem;
    }

    .contact-container {
        /* Stack contact form and contact methods vertically */
        flex-direction: column;
    }

    .contact-method, .contact-form {
        /* Full width for contact methods and form */
        width: 100%;
    }
    .welcome-image, .welcome-text {
        animation: none;
        transform: translateY(0);
    }
    .about-image, .about-text, .about-bottom-content {
        animation: none;
        transform: translateX(0);
    }

    footer {
        /* Align footer content for mobile */
        flex-direction: column;
        text-align: center;
    }

}
